language: generic
sudo: true

services:
  - docker

env:
  matrix:
    - RUBY_TAG=1.9.3 FROM_OS=ubuntu FROM_TAG=12.04
    - RUBY_TAG=2.0.0 FROM_OS=ubuntu FROM_TAG=12.04
    - RUBY_TAG=2.1 FROM_OS=ubuntu FROM_TAG=12.04
    - RUBY_TAG=2.2 FROM_OS=ubuntu FROM_TAG=12.04
    - RUBY_TAG=2.3 FROM_OS=ubuntu FROM_TAG=12.04
    - RUBY_TAG=2.4 FROM_OS=ubuntu FROM_TAG=12.04

    - RUBY_TAG=1.9.3 FROM_OS=ubuntu FROM_TAG=16.04
    - RUBY_TAG=2.0.0 FROM_OS=ubuntu FROM_TAG=16.04
    - RUBY_TAG=2.1 FROM_OS=ubuntu FROM_TAG=16.04
    - RUBY_TAG=2.2 FROM_OS=ubuntu FROM_TAG=16.04
    - RUBY_TAG=2.3 FROM_OS=ubuntu FROM_TAG=16.04
    - RUBY_TAG=2.4 FROM_OS=ubuntu FROM_TAG=16.04

    - RUBY_TAG=1.9.3 FROM_OS=debian FROM_TAG=wheezy
    - RUBY_TAG=2.0.0 FROM_OS=debian FROM_TAG=wheezy
    - RUBY_TAG=2.1 FROM_OS=debian FROM_TAG=wheezy
    - RUBY_TAG=2.2 FROM_OS=debian FROM_TAG=wheezy
    - RUBY_TAG=2.3 FROM_OS=debian FROM_TAG=wheezy
    - RUBY_TAG=2.4 FROM_OS=debian FROM_TAG=wheezy

    - RUBY_TAG=1.9.3 FROM_OS=debian FROM_TAG=jessie
    - RUBY_TAG=2.0.0 FROM_OS=debian FROM_TAG=jessie
    - RUBY_TAG=2.1 FROM_OS=debian FROM_TAG=jessie
    - RUBY_TAG=2.2 FROM_OS=debian FROM_TAG=jessie
    - RUBY_TAG=2.3 FROM_OS=debian FROM_TAG=jessie
    - RUBY_TAG=2.4 FROM_OS=debian FROM_TAG=jessie

script:
  - make build
  - make test

before_deploy:
  - export DOCKER_CONFIG="${HOME}/.docker"
  - mkdir -p "$DOCKER_CONFIG"
  - openssl aes-256-cbc -K "$DOCKER_CONF_key" -iv "$DOCKER_CONF_iv" -in .docker/config.json.enc -out "${DOCKER_CONFIG}/config.json" -d

deploy:
  provider: script
  skip_cleanup: true
  script: make push
  on:
    branch: master
